body {
  font-family: "Courier New", Courier, monospace;
}

header::after {
  background-color: beige;
}

a:hover {
  color: magenta;
  background-color: maroon;
}

#navbar {
  display: inline-block;
  position: fixed;
  width: 100%;
  background-color: lightcoral;
  text-align: center;
}
#welcome-section {
  height: 100vh;
  display: flex;
  text-align: center;
}
